/* Container Utama Control Center */
.control-center {
    background-color: rgba(15, 15, 15, 0.9);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 10px;
    padding: 10px;
}

/* Judul di bagian atas */
.widget-label > label {
    font-size: 1.5rem;
    color: white;
    margin: 10px;
}

/* Grid Tombol (Wi-Fi, BT, dll) */
.widget-buttons-grid {
    padding: 5px;
    margin: 5px;
}

.widget-buttons-grid > button {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 5px;
    padding: 15px;
    font-size: 20px;
    color: white;
}

.widget-buttons-grid > button:hover {
    background-color: rgba(0, 242, 255, 0.2); /* Aksen Biru */
    border: 1px solid #00f2ff;
}

/* Music Player (MPRIS) */
.widget-mpris {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}