* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(11, 18, 32, 0.9);
}

button {
    border-radius: 0; /* Membuat kotak tajam sempurna */
    border: 2px solid #38bdf8;
    color: #e5e7eb;
    background-color: #121a2f;
    margin: 20px;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}

button:focus, button:active, button:hover {
    background-color: #38bdf8;
    color: #0b1220;
    border: 2px solid #e5e7eb;
}

/* Mengatur spesifik ikon agar terlihat rapi */
#lock { background-image: image(url("/usr/share/wlogout/icons/lock.png")); }
#logout { background-image: image(url("/usr/share/wlogout/icons/logout.png")); }
#suspend { background-image: image(url("/usr/share/wlogout/icons/suspend.png")); }
#hibernate { background-image: image(url("/usr/share/wlogout/icons/hibernate.png")); }
#shutdown { background-image: image(url("/usr/share/wlogout/icons/shutdown.png")); }
#reboot { background-image: image(url("/usr/share/wlogout/icons/reboot.png")); }