* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background: transparent;
}

/* --- SECTION WORKSPACES --- */

#workspaces {
    /* background-color: rgba(28, 34, 56, 0.787);  */
    background-color: rgba(0, 0, 0, 0.254);

    border-radius: 20px;
    margin: 0 4px;
    padding: 5px 10px;
    /* border: 2px solid rgba(0, 238, 255, 0.676);  */
    border: 2px solid rgba(255, 255, 255, 0.219);
}

#workspaces:hover {
    border: 2px solid rgba(93, 0, 255, 0.376);
}

#workspaces button {
    color: transparent;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    min-width: 16px;
    min-height: 12px;
    text-shadow: none;
    font-size: 13px; 
    
    padding: 1px 1px;
    font-weight: bold;
    margin: 8px 5px; /* Sesuaikan angka 8px ini untuk mengatur tinggi bar */
    border-radius: 100px; /* Nilai besar agar ujung selalu bulat */
    transition: all 0.3s cubic-bezier(.4, 0, .2, 1);
    border: none;

    padding: 0 5px;
    color: #8be9fd;
    
    min-width: 35px; 
    min-height: 12px;
}

#workspaces button.active {
    background-color: #8be9fd;
    padding: 0 5px;
    color: #8be9fd;
    
    min-width: 35px; 
    min-height: 12px;
    
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(139, 233, 253, 0.6);
}

#workspaces button:hover {
    color: #8be9fd;
    background: rgba(139, 233, 253, 0.5);
    text-shadow: none;
}

/* --- SECTION GROUP APPS (SATU JELLY) --- */

#apps {
    /* background-color: rgba(45, 55, 88, 0.787); */
    background-color: rgba(0, 0, 0, 0.254);

    border: 3px solid rgba(28, 34, 56, 0.787);
    border-radius: 20px;
    padding: 0px 10px;
    margin: 0 5px;
}

#apps image {
    margin: 0 6px;
    padding: 0;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#apps image:hover {
    padding: 5px; /* Menambah padding internal = gambar mengecil */
    opacity: 0.8;
}

/* EFEK MENGECIL SAAT DIKLIK (Active) */
#apps image:active {
    padding: 8px; /* Lebih kecil lagi saat diklik */
    opacity: 0.5;
}

/* --- SECTION MODUL LAIN (Clock, Battery, dll) --- */

#apps, #window, #clock, #bluetooth, #network, #backlight, #pulseaudio, #battery, #custom-close, #apps {
    /* background-color: rgba(45, 55, 88, 0.787); */
    /* background-color: rgba(28, 34, 56, 0.787);  */
    background-color: rgba(0, 0, 0, 0.254);

    /* border: 3px solid rgba(28, 34, 56, 0.787); */
    /* border: 3px solid rgba(255, 255, 255, 0.1); */
    border: 2px solid rgba(255, 255, 255, 0.219);
    color: #ffffff;
    border-radius: 20px;
    padding: 2px 15px;
    margin: 0 5px;
    /* transition: all 0.3s cubic-bezier(.65, -0.6, .24, 1.5); */
    transition: 0.2s;
}

#apps:hover, #window:hover, #clock:hover, #bluetooth:hover, #network:hover, #backlight:hover, #pulseaudio:hover, #battery:hover, #custom-close:hover, #apps:hover {
    /* border: 2px solid rgba(0, 238, 255, 0.676); */
    border: 2px solid rgba(93, 0, 255, 0.376);
    padding: 2px 25px;
    box-shadow: 0px 0px 10px rgba(93, 0, 255, 0.376);
}

/* Indikator Baterai Kritis */
#battery.critical {
    color: #ff5555;
    border: 3px solid #ff5555;
}

/* Warna khusus saat bluetooth terhubung */
#bluetooth.connected {
    color: #8be9fd;
}

#bluetooth.disabled {
    background-color: rgba(86, 14, 14, 0.28);
    color: #ff5555;
}

/* Tombol Close dengan warna merah khas */
#custom-close {
    /* background-color: rgba(255, 85, 85, 0.45); 
    color: rgba(28, 34, 56, 0.787);  */
    border: 3px solid rgba(194, 91, 0, 0.651);

    background-color: rgba(86, 14, 14, 0.28);
    color: #ff5555;
}

#custom-close:hover {
    background-color: #ff5555;
    color: #ffffff;
    padding: 0px 18px;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(255, 85, 85, 0.5);
}

/* Styling tombol logout */
#custom-logout {
    background-color: rgba(64, 10, 10, 0.28);
    border: 2px solid rgba(194, 78, 0, 0.439);
    color: #ff7155;
    border-radius: 20px;
    padding: 2px 10px;
    margin: 0 5px;
    transition: 0.2s;
}

#custom-logout:hover {
    padding: 2px 18px;
    box-shadow: 0px 0px 10px rgba(109, 34, 34, 0.553);
}

