window {
    background-color: transparent;
    font-family: "JetBrainsMono Nerd Font";
}

/* Kotak Input Search */
#input {
    margin: 10px;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid #454545;
    background-color: rgba(0, 0, 0, 0.5); /* Hitam 50% */
    color: #ffffff;
}

#inner-box {
    background-color: transparent;
    margin: 10px;
}

/* Item Bubble Wallpaper/Aplikasi */
#entry {
    margin: 5px 0px; 
    padding: 15px; /* Lebih tebal agar terasa seperti bubble */
    background-color: rgba(0, 0, 0, 0.5); /* Hitam 50% */
    border-radius: 20px;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

/* Saat Dipilih: Border Putih Abu-abu 1px */
#entry:selected {
    background-color: rgba(69, 69, 69, 0.6); 
    border: 1px solid #e0e0e0; /* Putih Abu-abu */
}

#text {
    color: #ffffff;
    font-weight: 500;
}

/* Ikon Gambar (Jika ada) */
#img {
    margin-right: 15px;
    border-radius: 10px;
}