window {
    background-color: transparent;
    font-family: "JetBrainsMono Nerd Font";
}

/* Sembunyikan Panah */
#arrow {
    color: transparent;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

#inner-box {
    background-color: transparent;
    margin: 10px;
}

/* Kotak Input Search */
#input {
    margin: 10px 8px;
    padding: 12px 20px;
    border-radius: 25px;
    border: 2px solid #454545;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

/* Item Entry (Accordion Style) */
#entry {
    margin: 4px 8px; /* Margin disamakan dengan input agar sejajar */
    padding: 10px 15px; 
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

/* Saat Dipilih */
#entry:selected {
    background-color: rgba(45, 55, 88, 0.9); 
    border: 2px solid #e0e0e0;
}

#text {
    color: #ffffff;
    font-weight: 500;
}

/* Ikon Gambar/Aplikasi */
#img {
    margin-right: 12px;
    border-radius: 8px;
}