window {
    background-color: transparent;
    font-family: "JetBrainsMono Nerd Font";
}

#inner-box {
    background-color: rgba(30, 30, 30, 0.7); /* Background utama agar lebih terbaca */
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

/* Kotak Input Search */
#input {
    margin: 5px 5px 15px 5px; /* Jarak bawah lebih lebar ke list item */
    padding: 12px 20px;
    border-radius: 15px; /* Sedikit lebih kotak agar kontras dengan entry */
    border: 2px solid #454545;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

/* Item Bubble Wallpaper/Aplikasi */
#entry {
    margin: 4px 0px; 
    padding: 12px 15px;
    background-color: transparent; /* Default transparan agar bersih */
    border-radius: 12px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

/* Saat Dipilih (Hover/Active) */
#entry:selected {
    background-color: rgba(45, 55, 88, 0.9); 
    border: 2px solid #e0e0e0;
}

/* Pengaturan Teks */
#text {
    color: #ffffff;
    font-weight: 500;
    margin-left: 5px;
}

#entry:selected #text {
    color: #ffffff;
    font-weight: 700; /* Teks menebal saat dipilih */
}

/* Ikon Gambar */
#img {
    margin-right: 12px;
    border-radius: 8px;
}