window {
    background-color: transparent;
    font-family: "JetBrainsMono Nerd Font";
}

#inner-box {
    background-color: rgba(20, 20, 20, 0.8); /* Container gelap transparan agar lebih rapih */
    border-radius: 25px;
    margin: 20px;
    padding: 15px; /* Memberi ruang napas di dalam drawer */
}

/* Kotak Input Search */
#input {
    margin: 0px 0px 15px 0px; /* Reset margin samping agar sejajar dengan list */
    padding: 12px 20px;
    border-radius: 20px;
    border: 2px solid #454545;
    background-color: rgba(255, 255, 255, 0.05); /* Kontras tipis */
    color: #ffffff;
}

/* Item Bubble Aplikasi */
#entry {
    margin: 4px 0px; 
    padding: 10px 15px;
    background-color: transparent; /* Default bersih */
    border-radius: 15px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

/* Saat Aplikasi Dipilih */
#entry:selected {
    background-color: rgba(45, 55, 88, 0.8); 
    border: 2px solid #e0e0e0;
}

/* Styling Teks Aplikasi */
#text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}

#entry:selected #text {
    font-weight: 700;
}

/* Ikon Aplikasi */
#img {
    margin-right: 12px;
    border-radius: 8px; /* Ikon sedikit membulat */
    /* Ukuran ikon biasanya otomatis, tapi pastikan tidak terlalu besar */
}